.destination-details-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slideshow-container {
  position: relative;
  width: 100%;
  height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 8px;
}

.mySlides {
  display: none;
  height: 100%;
}

.mySlides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  transform: translateY(-50%);
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.details-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.details-container h2 {
  font-size: 30px;
  color: #0b0a0a;
  margin-bottom: 10px;
}

.details-container p {
  font-size: 20px;
  color: #383636;
  margin: 8px 0;
}

.places-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.place-card {
  flex: 1 1 calc(33.333% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.place-card:hover {
  transform: translateY(-5px);
}

.place-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.place-name {
  text-align: center;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
}

.fade {
  animation: fade 1.5s;
}

@keyframes fade {
  from { opacity: 0.4; }
  to { opacity: 1; }
}

a {
  text-decoration: none;
  color: inherit;
}

.recommended-dishes-container {
  margin-top: 20px;
}


.dishes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


.dish-card {
  flex: 1 1 200px; /* Flexbox properties for responsive layout */
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(142, 137, 137, 0.1);
}

/* Dish image */
.dish-card img {
  width: 100%;
  height: auto;
}

/* Dish info */
.dish-info {
  padding: 10px;
}


.dish-info h4 {
  margin: 0;
  font-size: 16px;
  color: #333;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
}


.dish-info p {
  margin-top: 5px;
  font-size: 14px;
  color: #252222;

}
/* Action buttons container */
.action-buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

/* Button styles */
.action-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.action-buttons button:hover {
  background-color: #ddd;
}

